<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Obelisk : {% block title %}{% end %}</title>

	<!-- Bootstrap core CSS -->
	<link href="http://cs.uwec.edu/~buipj/static/ico/favicon.png" rel="icon" type="image/x-icon"/>
	<link href="http://cs.uwec.edu/~buipj/static/css/blugold.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
	body {
	    margin: 10px;
	}

	#editor {
	    position: relative;
	    height: 600px;
	}
	</style>
    </head>
    <body>
	<div class="container">

	    <div class="row">
		<div class="page-header">
		    <h1><i class="fa fa-flask"></i> {% block brand %}Obelisk{% end %}</h1>
		</div>
	    </div>

            {% block body %}
	    {% end %}

	    <div class="row">
		<hr/>
		<footer class="text-center">
		    <p class="text-muted">
		    <small>
		    Built using
		    <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
		    <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>,
		    <a href="http://tornadoweb.org/">Tornado</a>, and
		    <a href="http://www.python.org/">Python</a>.
		    <br/>
		    &copy; 2015 <a href="http://www.uwec.edu">University of Wisconsin - Eau Claire</a>
		    </small>
		    </p>
		</footer>
	    </div>

	</div> <!-- /container -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{% block script %}
	{% end %}
    </body>
</html>
